* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.nav {
  display: none;
}

.row {
  margin: 6vh 2vh;
  display: flex;
  justify-content: space-evenly;
}

.row-fav {
  display: flex;
  margin: 1rem 1.5rem;
}

.col-full {
  flex-basis: 95%;
  display: flex;
  justify-content: center;
}

.col-save,
.col-joke {
  flex-basis: 100%;
}

.col-half {
  display: flex;
}

@media only screen and (min-width: 1200px) {
  .row.footer {
    display: none;
  }

  .nav {
    position: absolute;
    right: 2vh;
    top: 6vh;
    display: inline !important;
  }

  a {
    color: white;
    font-size: 2vh;
    font-family: sans-serif;
    padding: 1.5vh;
    text-shadow: 0 1px 3px #787878;
    cursor: pointer;
  }

  .general-jokes-button {
    margin: 0 10% 0 auto;
  }

  .programming-jokes-button {
    margin: 0 auto 0 10%;
  }
}

@media only screen and (min-width: 400px) {
  .row-home {
    margin: 10vh auto;
    max-width: 800px;
  }
}

@media only screen and (min-width: 568px) {
  .row-home {
    max-width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .row-home {
    max-width: 400px;
  }
}

@media only screen and (max-height: 414px) {
  .row {
    display: flex;
    margin: 1.5rem auto;
  }

  h1 {
    padding: 0;
  }

  .h2-home {
    min-width: 250px;
  }
}

@media only screen and (min-height: 1024px) {
  .row {
    display: flex;
  }
}

@media only screen and (max-height: 726px) {
  .row {
    display: flex;
  }
}
