* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.nav {
  display: none;
}

.row {
  display: flex;
  margin: 4rem 6%;
}

.row-fav {
  display: flex;
  margin: 1rem 1.5rem;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  display: flex;
  flex-basis: 50%;
}

@media only screen and (min-width: 864px) {
  .row.footer {
    display: none;
  }

  .nav {
    position: absolute;
    right: 20px;
    top: 40px;
    display: inline;
  }

  a {
    color: white;
    font-size: 1.2rem;
    font-family: sans-serif;
    padding: 1rem;
  }

  .general-jokes-button {
    margin: 0 10% 0 auto;
  }

  .programming-jokes-button {
    margin: 0 auto 0 10%;
  }
}

@media only screen and (min-width: 400px) {
  .row-home {
    margin: 7rem 1rem;
  }
}

@media only screen and (max-height: 414px) {
  .row.footer {
    display: none;
  }

  .nav {
    position: absolute;
    right: 20px;
    top: 45px;
    display: inline;
  }

  .row {
    display: flex;
    margin: 1.5rem;
  }

  a {
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
    padding: 1rem;
  }

  h1 {
    padding: 0;
  }

  h2 {
    min-width: 450px;
    max-height: 60px;
  }

  .h2-home {
    min-width: 250px;
  }

  .saved-jokes {
    max-height: 14rem;
  }
}
