body {
  background-color: #f1f1f1;
}

.home-page {
  background-color: #ffc6b4;
  height: 6rem;
}

h1 {
  color: white;
  font-family: 'PT Mono', monospace;
  text-align: center;
  text-shadow: 0 3px 2px #c79f9f;
  padding: 1rem 0;
  font-weight: 100;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  max-width: 250px;
  text-align: center;
  font-weight: 100;
}

button {
  color: white;
  font-size: 1rem;
  border: none;
  width: 10rem;
  height: 5rem;
  border-radius: 5rem;
  box-shadow: 0 2px 5px #6d6c6c;
}

.general-jokes {
  background-color: #dfd7ab;
}

.programming-jokes {
  background-color: #74bdcb;
}

.row {
  display: flex;
  margin: 4rem 6%;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  height: 6rem;
  width: 100%;
  margin: 0;
}

i {
  margin: auto;
  color: #c3c2c2;
  font-size: 1.7rem;
}

i.fa-home {
  margin-right: 3.5rem;
}

i.fa-star {
  margin-left: 3.5rem;
}
